
@{
    ViewBag.Title = "Menu";
    string saldo = ViewBag.Saldo;
    Layout = "~/Views/Shared1/_Layout.cshtml";
    var estacionamentos = ViewBag.Estacionamentos as List<FEL_JAMIRA_WEB_APP.Models.Areas.Cliente.EstacionamentosDoCliente> ;
    var transacoes = ViewBag.Transacoes as List<FEL_JAMIRA_WEB_APP.Models.Areas.Cliente.TransacoesDoCliente> ;
}

    <div class="container-fluid">

        <div class="row" style="justify-content:center;">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary"><h6><b>Comprar Créditos</b></h6></div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" style="text-align:center;">
                                    <a href="/Cliente/Creditos" class="btn btn-primary btn-circle">
                                        <i class="fas fa-hand-holding-usd"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success"><h6><b>Meu Saldo</b></h6></div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$@saldo</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tabelas</h1>
        <p class="mb-4">Aqui você encontra informações sobre suas as ultimas atividades relacionadas ao seu estacionamento.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Últimos Estacionamentos</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Estacionamento:</th>
                                <th>Período De:</th>
                                <th>Período Até:</th>
                                <th>Valor Gasto:</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Estacionamento:</th>
                                <th>Período De:</th>
                                <th>Período Até:</th>
                                <th>Valor Gasto:</th>
                            </tr>
                        </tfoot>
                        <tbody>
                             @foreach (var item in estacionamentos)
                             {
                                 <tr>
                                     <td>@item.NomeEstacionamento</td>
                                     <td>@item.PeriodoDe.ToString()</td>
                                     <td>@item.PeriodoAte.ToString()</td>
                                     <td><div style="float:right;">$@Math.Round(item.ValorTotal, 2)</div></td>
                                 </tr>
                             }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Últimas Transações</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Valor:</th>
                                <th>Data:</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Valor:</th>
                                <th>Data:</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in transacoes)
                            {
                                <tr>
                                    <td>@item.Valor$</td>
                                    <td>@item.DataTransacao.ToString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!-- /.container-fluid -->