
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared1/_Layout.cshtml";
    var recebimentos = ViewBag.Recebimentos as List<FEL_JAMIRA_WEB_APP.Models.Areas.Estacionamento.Recebimentos>;
    var usuarios = ViewBag.Usuarios as List<FEL_JAMIRA_WEB_APP.Models.Areas.Estacionamento.UsuariosDoEstacionamento>;
}

@functions {
    string GetMes(int mes)
    {
        string nome = "";

        switch (mes)
        {

            case 1:
                nome = "Janeiro";
                break;
            case 2:
                nome = "Fevereiro";
                break;
            case 3:
                nome = "Março";
                break;
            case 4:
                nome = "Abril";
                break;
            case 5:
                nome = "Maio";
                break;
            case 6:
                nome = "Junho";
                break;
            case 7:
                nome = "julho";
                break;
            case 8:
                nome = "Agosto";
                break;
            case 9:
                nome = "Setembro";
                break;
            case 10:
                nome = "Outubro";
                break;
            case 11:
                nome = "Novembro";
                break;
            case 12:
                nome = "Dezembro";
                break;
            default:
                break;
        }

        return nome;
    }

}

<div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tabelas</h1>
        <p class="mb-4">Aqui você encontra informações sobre suas as ultimas atividades relacionadas ao seu estacionamento.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Últimos Clientes</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Período de</th>
                                <th>Período até</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>Período de</th>
                                <th>Período até</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var item in usuarios)
                            {
                                 <tr>
                                     <td>@item.NomeUsuario</td>
                                     <td>@item.PeriodoDe</td>
                                     <td>@item.PeriodoAte</td>
                                 </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Últimos Recebimentos</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Mês</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Mês</th>
                                <th>Valor</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in recebimentos)
                            {
                                  <tr>
                                      <td>@GetMes(item.Date.Month)/@item.Date.Year</td>
                                      <td>@item.Valor</td>
                                  </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
<!-- /.container-fluid -->