@{
    ViewBag.Title = "Usuarios no Estacionamento";
    Layout = "~/Views/Shared1/_Layout.cshtml";
    List<FEL_JAMIRA_WEB_APP.Models.Areas.Estacionamento.Solicitantes> solicitantes = ViewBag.Solicitacoes;
}

    <div class="container-fluid" style="justify-content: center; display: flex;">
        @if (solicitantes.Count > 0)
        {
            foreach (var item in solicitantes)
            {

                <div class="card mb-4 py-3 border-bottom-primary" style="width:75%;" id="@item.IdSolicitacao--">
                    <div class="card-body" style="text-align: center;">
                        <b>Nome: </b>@item.NomeCliente - <b>Carro: </b>@item.Carro - <b>Placa: </b>@item.PlacaCarro - <b>Ativo desde:  </b>@item.PeriodoDe
                    </div>
                </div>
            }
        }
        else
        {
            <p>Você não possui clientes ativos no momento.</p>
        }
    </div>
